<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Training_Custom::custom" title="Training Custom" module="Training_Custom" sortOrder="52" resource="Training_Custom::custom"/>
        <add id="Training_Custom::post" title="Manage Posts" module="Training_Custom" sortOrder="10" action="training/post" resource="Training_Custom::post" parent="Training_Custom::custom"/>
        <add id="Training_Custom::category" title="Manage Categories" module="Training_Custom" sortOrder="20" action="training/category" resource="Training_Custom::category" parent="Training_Custom::custom"/>
        <add id="Training_Custom::custom_configuration" title="Configuration" module="Training_Custom" sortOrder="99" parent="Training_Custom::custom" action="adminhtml/system_config/edit/section/custom" resource="Training_Custom::custom_configuration"/>
    </menu>
</config>